
#============================================ X

[stepper_x]
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 20  # for sensorless homing it is recommended not to go above 40mm/s

[tmc2209 stepper_x]
uart_address: 0
driver_SGTHRS: 65

#============================================ Y

[stepper_y]
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 20  # for sensorless homing it is recommended not to go above 40mm/s  

[tmc2209 stepper_y]
uart_address: 2
driver_SGTHRS: 65


#============================================ Z

[tmc2209 stepper_z]
uart_address: 1
