#================== Wiring

[extruder]
step_pin: toolhead: PD0
dir_pin: !toolhead: PD1
enable_pin: !toolhead: PD2

[tmc2209 extruder]
uart_pin: toolhead: PA15

#================== Filament Settings

[extruder]
nozzle_diameter: 0.400
filament_diameter: 1.750

pressure_advance: 0.03   # See tuning pressure advance doc
pressure_advance_smooth_time: 0.040

max_extrude_only_distance: 110
max_extrude_cross_section: 10


#================== Stepper

[extruder]
full_steps_per_rotation: 200    # Set to 200 for 1.8 degree motor, set to 400 for 0.9 degree stepper motor
rotation_distance: 21.696        # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10               # For Mini Afterburner
microsteps: 32

[tmc2209 extruder]
run_current: 0.650
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder
