#================= Hotend Fan

[heater_fan hotend_fan]
pin: toolhead: PA1
heater: extruder
heater_temp: 50.0
max_power: 1.0
kick_start_time: 0.100

#================= PartCooling Fan

[fan]
pin: toolhead: PA0
kick_start_time: 0.100
cycle_time: 0.010


#================= Filter Fan

[controller_fan Filter_Fan]
pin: gpio20
heater: extruder
stepper: extruder
idle_speed: 1
fan_speed: 0.5
idle_timeout: 180
