#=============== Wiring

[heater_bed]
heater_pin: gpio21

[extruder]
heater_pin: toolhead: PB13

#=============== Settings

[heater_bed]
smooth_time: 3.0
min_temp: -100
max_temp: 120

[extruder]
min_temp: 0
max_temp: 300
min_extrude_temp: 190
