
#==================== Heater Bed

[heater_bed]
sensor_type: Generic 3950
sensor_pin: gpio26

#==================== Extruder

[extruder]
sensor_type: Generic 3950
sensor_pin: toolhead: PA3

#==================== Filament Runout Sensors

[filament_switch_sensor Filament_Runout_Sensor]
switch_pin: ^gpio16
pause_on_runout: True
runout_gcode:
  G1 E10 F2000
  G1 E-50 F2000
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted
event_delay: 3.0
pause_delay: 0.5

[filament_motion_sensor Encoder_Sensor]
switch_pin: ^gpio27
detection_length: 3
extruder: extruder
pause_on_runout: True
runout_gcode:
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder started
  
  
#==================== Mcu Temps

[temperature_sensor mcu]
sensor_type = temperature_mcu
min_temp = 0
max_temp = 90

#==================== Host Temps

[temperature_sensor Banana_Pi_Zero2W]
sensor_type: temperature_host

#==================== Toolhead Temps

[temperature_sensor toolhead_mcu]
sensor_type: temperature_mcu
sensor_mcu: toolhead
min_temp = 0
max_temp = 100
