
## Set nozzle-specific Configs
## 
## Add this immediately after your start_print line of the start gcode in Prusa/SuperSlicer:
##     SET_NOZZLE NOZZLE='{nozzle_diameter[initial_extruder]}'
## 
## Add this immediately after your start_print line of the start gcode in Cura:
##     SET_NOZZLE NOZZLE='{machine_nozzle_size}'
## 
[gcode_macro SET_NOZZLE]
description: Set values based on nozzle diameter
variable_nozzle: 0
gcode:
    {% set NOZZLE = params.NOZZLE|default(0.4)|float %} ; Get nozzle diameter from slicer
    SET_GCODE_VARIABLE MACRO=SET_NOZZLE VARIABLE=nozzle VALUE={NOZZLE} ; Save the nozzle diameter to a variable just because
    {% if NOZZLE == 0.4 %} ; If nozzle diameter is 0.4
        ## Set z_offset settings
        SET_GCODE_OFFSET Z=0 ; Set z_offset
    {% elif NOZZLE == 0.2 %} ; If nozzle diameter is 0.2
        SET_GCODE_OFFSET Z=0 ; Set z_offset
    {%else %} ; If any other nozzle diameter
        SET_GCODE_OFFSET Z=0 ; Set z_offset
    {% endif %}