
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:

    {% set BED_TEMP = params.BED|float %} # Bed temperature
    {% set EXTRUDER_TEMP = params.EXTRUDER|float %} # Extruder temperature
    
    {% set Z_ADJUST = params.Z_ADJUST|default(0)|float %}
    {% set MATERIAL = params.MATERIAL|default("ABS")|string %}
    {% set LAYER_HEIGHT = params.LAYER_HEIGHT|default(0.2)|float %}
    
    {% set nozzle_diameter = params.NOZZLE_DIAMETER|default(printer.configfile.config["extruder"]["nozzle_diameter"])|float %}
    {% set filament_diameter = params.FILAMENT_DIAMETER|default(printer.configfile.config["extruder"]["filament_diameter"])|float %}
    
    {% set line_width = nozzle_diameter %}
    {% set filament_area = (((filament_diameter / 2) * (filament_diameter / 2)) * 3.14159) %}
    {% set extrusion_factor = (line_width * LAYER_HEIGHT) / filament_area | float %}

    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP-1} MAXIMUM={BED_TEMP+5}
    M109 S{EXTRUDER_TEMP} ; wait for nozzle temp to stabilize

    G28                            ; home all axes
    G90                            ; absolute positioning    
    G1 Z20 F3000                   ; move nozzle away from bed

    G1 X25 E{extrusion_factor * 25} ; Change extrusion factor based on slicer filaments params
    LINE_PURGE